#build-chroot {
   background-color: #cec;
   color: #363;
   font-size: 200%;
   margin: 2em 5em;
}
#build-chroot iron-icon {
  width: 32px;
  height: 32px;
}

pre.shell {
  background-color: #222;
  color: #ccc;
  -webkit-user-select: initial;
}
pre.shell:before {
  content: '$ ';
  color: #666;
}

h3 {
  margin: 1em 25px;
}