html, body {
  height: 100%;
}

body {
  font-family: RobotoDraft, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

section h3 {
  margin: 20px 30px 10px;
}

a, a:hover {
  text-decoration: none;
}

paper-toolbar.draggable {
  -webkit-app-region: drag;
  background-color: #689f38; /* light-green darken-2 */
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

paper-toolbar.draggable span {
  color: #dcedc8; /* light-green lighten-4 */
}

paper-toolbar paper-icon-button, core-toolbar paper-tabs {
  -webkit-app-region: no-drag;
}

paper-checkbox {
  padding: 2em;
  padding-left: 4em;
}

paper-fab {
  position: fixed !important;
  bottom: 1em;
  right: 1em;
  z-index: 1;
}

paper-tabs {
  background-color: #689f38; /* light-green darken-2 */
  color: #fff;
}

paper-tabs[noink][nobar] paper-tab.core-selected {
  color: #ffff8d;
}

[flex] {
  flex: 1;
}

iron-selector .iron-selected {
  background: rgba(0, 0, 0, 0.1);
}

.sidebar {
  background-color: #9ccc65; /* light-green lighten-1 */
}

.split > * {
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  background: #cfd8dc;
}

.horizontal.split {
  flex: 1;
}

.paper-card.title-text {
  padding-bottom: 0 !important;
}

.paper-card .card-content {
  padding-top: 0 !important;
}

